<h1>Ingredients</h1>
<br>
<% @ingredients.each do |ingredient| %>
  <%= link_to("#{ingredient.name}", ingredient_path(ingredient)) %>
  <% ingredient.recipes.map {|i| i.name}.join(',') %>
<br>
<% end %>  
<br>
<%= link_to("Add New Ingredient", new_ingredient_path) %>
