<h1> <%= @category.name.capitalize %> </h1>
<%= button_to('Delete Category', category_path(@category), method: :delete, data: {confirm: 'Delete? Are you sure?'}) %>
<%= link_to('Rename Category', edit_category_path(@category)) %>